@font-face {
  font-family: 'SteelWorks';
  src: url('/stylesheets/fonts/steelworks_vintage_demo.woff2') format('woff2'),
       url('/stylesheets/fonts/steelworks_vintage_demo.woff') format('woff');
  font-weight:400;
}

body {
  background-color: #e5e5e5;
}

.navbar {
  padding-right: 16px !important;
}

.alert {
  z-index: 99;
  border-radius: 0px !important;
}

.btn {
  border-radius: 10px;
  border: 1px solid #5445b3;
  background-color: #5445b3 !important;
  padding: .65rem 1rem !important;
  color: white !important;
}

.btn-empty {
  background-color: transparent !important;
  color: #5445b3 !important;
}

.navbar-nav {
  flex-direction: row !important;
}

.nav-item .btn {
  padding: .5rem .5rem !important;
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 10px;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.primary-highlight {
  color: #5445b3;
}

.card-title {
  font-family: 'Lato', sans-serif;
  color: #5445b3;
}

.modal-title {
  font-family: 'Lato', sans-serif;
  color: #5445b3;
}

label {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  color: #5445b3;
  font-size: 120%;
}

.modal-footer {
  border-top: none !important;
}

.modal-header {
  border-bottom: none !important;
}

.social-icon {
  font-size: 350%;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: #c32aa3;
}

.fa-spotify {
  color: #1ed760;
}

.fa-heart {
  color: #e0245e;
}

.modal a {
  color: #007bff !important;
  text-decoration: underline !important;
}

.modal a:hover {
  color: black !important;
}

.modal a:visited {
  color: #007bff !important;
}

.modal a:focus {
  color: #007bff !important;
}

#band-description {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 15px;
  font-weight: bolder;
}

#band-img {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  width: 150px;
  height: 150px;
  margin-top: -50px;
}

#band-name {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#first-card {
  margin-top: 125px;
}

@media (min-width: 576px) { 
  .social-icon {
    font-size: 350%;
  }
}

@media (min-width: 768px) { 
  .social-icon {
    font-size: 500%;
  }
}

@media (min-width: 992px) { 
  .social-icon {
    font-size: 800%;
  }
}

@media (min-width: 1200px) { 
  .social-icon {
    font-size: 800%;
  }
}